.container {
    width: 70%;
    margin: auto;
    text-align: center;

  }
  
  .yourName {
    text-align: center;
    display: inline-block;
    padding: 10%;
  
  }
  .partnerName{
    text-align: center;
    display: inline-block;
    padding: 10%;
  }



  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  .img {
    height: 50px;
    width: 50px;
  }
  .btn {
text-align: center;
  }
  .button{
      position: relative;
     margin-bottom: 50%;
  }


  footer {
    margin-top: 25%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  